.navbar-text-right{
    text-align: right;
}
.body{
    background-color: #a5a4a4;
}
.input-group-prepend span{
    width: 50px;
    background-color: #5a636d;
    color: black;
    border:0;
}
.login_btn{
    color: black;
    background-color: #5a636d;
    width: 100px;
}
    
.login_btn:hover{
    color: black;
    background-color: rgb(109, 105, 105);
}
.remember input{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}
.login-container-background{
    background-color: #bbb8b8;
}
.card{
    margin: 10px;
}